body {
  margin: 0px !important;
  /* font-family: 'Barlow Condensed', sans-serif; */
}

.flex-container {
  display: flex;
  justify-content: center;
}

.img-size {
  margin: 0px 230px 0px 230px;
  width: 250px;
  cursor: pointer;
}

.img-size-bis {
  margin: 0px 230px 50px 230px;
  width: 250px;
  cursor: pointer;
}

.content-portrait {
  margin-top: 50px;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  pointer-events: none;
}

.selected-portrait {
  /*  */
}